<!--
filename: base.html
authors: Angelina Li
last modified: 08/19/2018
description: basic html template that other html pages inherit from
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Bachelor & Race">
  <meta name="author" content="Angelina Li">

  <title>The Bachelor & Race</title>
  <link rel="icon" type="image/png" href="static/favicon.png">

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

  <!-- custom css -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/style.css" rel="stylesheet">
</head>

<body>
<!-- navbar -->
  <header class="navbar navbar-expand navbar-light">

    <a class="nav-brand" href="/">
      <img alt="Bachelor & Race" src="static/med_title.png" height="25"></img>
    </a>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="representation">Representation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="performance">Performance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="notes">Notes</a>
      </li>
    </ul>
    
  </header>

  {%app_entry%}

  <footer class="footer">
    <div class="container text-muted text-center">
      Copyright © <a href="https://angelinahli.github.io/">Angelina Li</a> 2018. 
      <a href="https://github.com/angelinahli/bachelorette/">Source code</a>.
    </div>
  </footer>

  {%config%}
  {%scripts%}

</body>
</html>